.footer {
    display: flex;
    justify-content: center;
    background-color: #bfdcae;
    height: 10vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-top: 10px;  
}

li {
    list-style: none; 
}