.footer {
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    background-color: #bfdcae;
    height: 75px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}