@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap');
.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #206a5d;
    position: fixed;
    height: 10vh;
    top: 0;
}

.navbar-brand {
    padding-right: 25px;
    font-family: 'Lexend Peta', sans-serif;
    font-size: 20px;
}

.fullButton {
    font-size: 12px;
    border-radius: 12px;
    font-weight: bold;
    background-color: #bfdcae;
}